*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 1155px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    padding-top: 1rem;
    margin:0 auto;
}
.miniature{
    display: flex;
    flex-direction: column;
}
.col-70{
   flex-basis: calc((80% / 12) * 8);
   height: 500px;
}
.col-30>img{
    flex-basis: calc((80% / 12) * 2);
    height: calc(500px / 5);
}
.arrows{
    position: absolute;
    right: 7.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.prev, .next{
    cursor: pointer;
}
.text{
    position: absolute;
    bottom: 15rem;
    right:18rem;
    text-align: right;
    color: white;
    padding-left: 4rem;
}