*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 1155px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    padding-top: 1rem;
    margin:0 auto;
    align-items: stretch;
}
.row{
    height: 600px;
    width: 100%;
    
}
.miniature{
    display: flex;
    flex-direction: column;
    position: relative;
}
.col-9{
   height: 600px;
   
}
.col-9>img{
    width: 100%;
}
.col-3>img{
    height: calc(600px / 5);
    width: 100%;
}
.arrows{
    position: absolute;
    right: 8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.prev, .next{
    cursor: pointer;
}
.text{
    position: absolute;
    bottom: 4rem;
    right:19rem;
    text-align: right;
    color: white;
    padding-left: 4rem;
}
.text>p{
    padding-left: 22rem;
}